In [41]:
import pandas as pd
import numpy as np

In [10]:
train=pd.read_csv('train_credit.csv',index_col='Unnamed: 0')

In [11]:
train.head()

     Income_log  Limit_log  Rating_log  Student_Yes     Cards  Credit
336    0.034777   0.609488    0.655032            0  0.761194     926
64     0.066451  -0.733937   -0.843516            0 -0.699130       0
55     0.032069  -1.492181   -1.557071            0 -0.699130       0
106    1.099684  -1.869456   -2.071941            0 -0.699130       0
300    0.670954   0.104645    0.159194            0 -1.429291     580

In [12]:
test=pd.read_csv('test_credit.csv',index_col='Unnamed: 0')

In [13]:
test.head()

     Income_log  Limit_log  Rating_log  Student_Yes     Cards  Credit
132    0.564428   0.439814    0.478606            0  0.761194     912
309   -1.097900   1.010506    0.951834            0  0.031032     885
341    1.517457  -0.219284   -0.225695            0 -0.699130     426
196   -1.358463   1.139586    1.066616            0 -1.429291     749
246    0.844444  -0.581458   -0.485902            0  0.761194     199

In [42]:
x_train=train.drop('Credit',axis=1)
x_train=np.array(x_train)

In [17]:
y_train=train['Credit']

In [44]:
y_train=np.array(y_train)

In [18]:
x_test=test.drop('Credit',axis=1)

In [45]:
x_test=np.array(x_test)

In [19]:
y_test=test['Credit']

In [46]:
y_test=np.array(y_test)

In [47]:
import xgboost

In [48]:
model_xg=xgboost.XGBRegressor(min_child_weight= 5,
                                 max_depth= 4,
                                 learning_rate= 0.05,
                                 gamma= 0.0,
                                 colsample_bytree= 0.7)

In [49]:
model_xg.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, enable_categorical=False,
             gamma=0.0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.05, max_delta_step=0,
             max_depth=4, min_child_weight=5, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [50]:
y_pred=model_xg.predict(x_test)

In [51]:
from sklearn.metrics import r2_score

In [52]:
r2_score(y_test,y_pred)

0.945143398119397

In [53]:
import pickle

In [54]:
filename=('model_credit.sav')

In [55]:
pickle.dump(model_xg,open(filename,'wb'))

In [56]:
load_model=pickle.load(open(filename,'rb'))

In [57]:
load_model.score(x_test,y_test)

0.945143398119397

In [33]:
### values

In [34]:
### Income normal_dist, Mean and Std

# 1. -0.20280658936585644
# 2. 0.4901766534406379
# 3. 0.06735802053503631

In [35]:
### Limit normal_dist, Mean and Std

# 1. 0.39614936118102145
# 2. 27.74271074744698
# 3. 5.585085279010829

In [36]:
### Rating normal_dist, Mean and Std

# 1. 0.26853943981127637
# 2. 4.749713648307949
# 3. 0.5672648658390562

In [37]:
### Cards Mean and Std

# 1. 2.9575
# 2. 1.371274858240354